In [194]:
import pandas as pd
import re

In [202]:
import os
os.listdir('..')

['.DS_Store', 'Project Week 2', '.ipynb_checkpoints', 'Project Week 1']

In [3]:
pd.set_option("display.max_columns", 25)

In [4]:
attacks = pd.read_csv('attacks.csv', encoding='latin-1')

In [5]:
#tratamento das colunas
import re
novas_colunas = []
for col in attacks.columns:
    col = re.sub('[^a-zA-Z0-9 ]','',col)
    col = re.sub('[ ]','_',col)
    col = col.lower()
    novas_colunas.append(col)

attacks.columns = novas_colunas

In [6]:
attacks.rename(columns={'sex_':'sex','species_':'species'},inplace=True)

In [7]:
#drop colunas 22 e 23, sem conteudo
attacks.drop(['unnamed_22','unnamed_23'],axis=1,inplace=True)

In [8]:
attacks.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [195]:
attacks.shape

(6302, 24)

In [10]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_yn                5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number1            6302 non-null   object
 20  case_number2            6302 non-null   object
 21  original_order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [11]:
#drop na com thresh igual numero de colunas
attacks.dropna(thresh=3,inplace=True)
#6302 rows Ã 22 columns

# Existem atividades que mais provocam os tubaroes?

## Limpeza de coluna type

In [66]:
attacks.loc[:,'type'].unique()

#padronizando com informacoes do site

array(['Watercraft', 'Unprovoked', 'Questionable', 'Provoked',
       'Sea Disaster', 'nan'], dtype=object)

In [13]:
attacks

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [14]:
def boat_to_watercraft(type):
    '''transformar todos os tipos boat para watercraft'''
    return re.sub('Boat[\w]*', 'Watercraft',str(type))

attacks['type'] = attacks['type'].apply(boat_to_watercraft)

In [15]:
def invalid_to_questionable(x):
    '''transformar todos os tipos invalidos para questionaveis'''
    return re.sub('Invalid', 'Questionable',str(x))

attacks['type'] = attacks['type'].apply(invalid_to_questionable)

In [16]:
attacks[attacks['type'] == 'nan']
#nÃ£o tratei, pois nÃ£o hÃ¡ como saber. apenas 4 valores

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
85,2017.09.15.a,15-Sep-2017,2017.0,nan,SAMOA,Upolu Island,NofoaliÂi,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017",2017.09.15.a-Samoa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.15.a,2017.09.15.a,6218.0
382,2015.07.27,27-Jul-2015,2015.0,nan,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN,2015.07.27-Victoria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.07.27,2015.07.27,5921.0
4867,1936.09.11.R,Reported 11-Sep-1936,1936.0,nan,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936",1936.09.11-Saigon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.09.11.R,1936.09.11.R,1436.0
5705,1890.03.03.R,Reported 03-Mar-1890,1890.0,nan,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890",1890.03.03.R-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.03.03.R,1890.03.03.R,598.0

## Limpeza de coluna activity

In [ ]:
'Surfing'|'Fishing'|'Swimming'|'Diving'|'Wading'|'Bathing'|'Standing'|'Boating'|'Snorkeling'|'Fell in water'| 'Floating','Paddling'

In [182]:
#funcao para identificar os diferentes tipos de atividades para padronizar valores
def find_activity(x):
    y = re.findall("Surfing|Fishing|Swimming|Diving|Non defined|Wading|Bathing|Standing|Boating|Snorkeling|Fell in water|Floating|Paddling", str(x),re.I)
    if len(y)>0:
        return y
    else:
        return ""

In [183]:
mask = attacks['activity'].apply(find_activity)==""

In [20]:
def standing_sub(x):
    return re.sub('.*[Ss]tand.*','Standing', str(x))

attacks['activity'] = attacks['activity'].apply(standing_sub)

In [21]:
#Canoeing, Rowing, Kayaing, Sailing, Boating
def boating_sub(x):
    return re.sub('.*[Ss]aili.*|.*[Bb]oating.*|.*[Cc]anoe.*|.*[Rr]owi.*|.*[Kk]ayak.*','Boating', str(x))

attacks['activity'] = attacks['activity'].apply(boating_sub)

In [22]:
def wading_sub(x):
    return re.sub('.*[Ww]alk.*|.*[Ww]ading.*','Wading', str(x))

attacks['activity'] = attacks['activity'].apply(wading_sub)

In [23]:
def bath_sub(x):
    return re.sub('.*[Bb]ath.*','Bathing', str(x))

attacks['activity'] = attacks['activity'].apply(bath_sub)

In [24]:
def surf_sub(x):
    return re.sub('.*[Ss]urf.*|.*[Bb]oogie.*|.*[Bb]ody[ -]?[Bb].*|.*[Kk]ite[ -]?[Bb].*','Surfing', str(x))

attacks['activity'] = attacks['activity'].apply(surf_sub)

In [25]:
def snorkel_sub(x):
    return re.sub('.*[Ss]nork.*','Snorkeling', str(x))

attacks['activity'] = attacks['activity'].apply(snorkel_sub)

In [26]:
def fishing_sub(x):
    return re.sub('.*[Ff]ish.*','Fishing', str(x))

attacks['activity'] = attacks['activity'].apply(fishing_sub)

In [27]:
def paddle_sub(x):
    return re.sub('.*[Pp]addl.*','Paddling', str(x))

attacks['activity'] = attacks['activity'].apply(paddle_sub)

In [29]:
def swim_sub(x):
    return re.sub('.*[Ss]wim.*|.*[Tt]read.*','Swimming', str(x))

attacks['activity'] = attacks['activity'].apply(swim_sub)

In [30]:
def diving_sub(x):
    return re.sub('.*[Dd]iv.*','Diving', str(x))

attacks['activity'] = attacks['activity'].apply(diving_sub)

In [31]:
def fellinwater_sub(x):
    return re.sub('.*[Ff]ell.*','Fell in water', str(x))

attacks['activity'] = attacks['activity'].apply(fellinwater_sub)

In [32]:
def floting_sub(x):
    return re.sub('.*[Ff]loat.*','Floating', str(x))
    return re.sub('.*[Tt]read.*','Floating', str(x))

attacks['activity'] = attacks['activity'].apply(floting_sub)

In [158]:
def nan_sub(x):
    return re.sub('nan','Non defined', str(x))

attacks['activity'] = attacks['activity'].apply(nan_sub)

In [186]:
def shark_sub(x):
    return re.sub('.*[Ss]hark.*','Messing with sharks', str(x))

attacks['activity'] = attacks['activity'].apply(shark_sub)

In [ ]:
#Colocar dentro de uma funcao
dicionario chaves = padroes
valores = substituica

In [ ]:
def acticity_sub(x, dictionary):
    for key, value in dictionary.items():
        y = re.sub(key,value, str(x))
        if x != y:
            return y
    return x
    

attacks['activity'] = attacks['activity'].apply(shark_sub)

### CorrelaÃ§Ã£o entre atividade e tipo de ocorrencia

In [199]:
pd.DataFrame(attacks['activity'].value_counts(normalize=True).head(10)*100)
#geral- comparativo

                      activity
Surfing              21.723262
Fishing              18.121231
Swimming             17.597588
Non defined           8.632180
Diving                8.108537
Wading                3.284672
Bathing               3.030784
Standing              2.475405
Boating               2.300857
Messing with sharks   1.904157

As atividades da pesca sÃ£o as mais que mais provocam os tubarÃµes por diversos motivos. 
Alguns deles sÃ£o:
1. A prÃ³pria caÃ§a aos tubarÃµes
2. Os tubarÃµes sÃ£o atraÃ­dos por peixes jÃ¡ pescados pelos nadadores
3. A autodefesa da pessoa quando se vÃª em meio dos tubarÃµes.

In [200]:
#ocorrencias provocadas
provoked = attacks['type']=='Provoked'
pd.DataFrame(attacks[provoked]['activity'].value_counts(normalize=True).head(10)*100)

                      activity
Fishing              54.878049
Messing with sharks  14.111498
Diving                7.839721
Non defined           6.097561
Surfing               3.658537
Wading                2.090592
Boating               1.916376
Swimming              1.916376
Standing              1.742160
Snorkeling            0.871080

In [169]:
#ocorrencias nao-provocadas
unprovoked = attacks['type']=='Unprovoked'
attacks[unprovoked]['activity'].value_counts(normalize=True).head()*100

Surfing        28.008705
Swimming       21.175190
Fishing        12.383025
Diving          8.835691
Non defined     7.225245
Name: activity, dtype: float64

In [170]:
#ocorrencias embarcacao
watercraft = attacks['type']=='Watercraft'
attacks[watercraft]['activity'].value_counts(normalize=True).head()*100

Fishing           49.560117
Boating           24.633431
Non defined       12.903226
Boat               1.466276
Shark watching     0.879765
Name: activity, dtype: float64

## Limpeza da coluna Fatal

In [176]:
attacks['fatal_yn'].unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [60]:
#troca manual de valores
attacks.loc[5427,'fatal_yn']='Y'
attacks.loc[285,'fatal_yn']='N'
attacks.loc[786,'fatal_yn']='N'
attacks.loc[6117,'fatal_yn']='Y'

In [61]:
#extrair o espaÃ§o do ' N'
def extract_space(x):
    return re.sub('\sN','N',str(x))

attacks['fatal_yn'] = attacks['fatal_yn'].apply(extract_space)

In [53]:
#nova coluna para identificar feridas FATAIS atraves da coluna injury
attacks['fatal_injuries'] = attacks['injury'].str.replace('.*[Ff][Aa][Tt][Aa][Ll].*','FATAL')

/var/folders/z0/m6hpl5v16pb0dzc7hbw8lqlm0000gn/T/ipykernel_13153/967585704.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  attacks['fatal_injuries'] = attacks['injury'].str.replace('.*[Ff][Aa][Tt][Aa][Ll].*','FATAL')

In [43]:
#identificados os fatais, passar para a coluna fatal_yn como Y
fatal_nan = attacks[(attacks['fatal_injuries']=='FATAL') & (attacks['fatal_yn']=='nan')]
fatal_nan = fatal_nan['fatal_yn'].str.replace('nan','Y')
attacks.loc[(attacks['fatal_injuries']=='FATAL') & (attacks['fatal_yn']=='nan'),'fatal_yn'] = fatal_nan

In [44]:
#renomear os que nÃ£o tinham FATAL para N
attacks['fatal_yn'] = attacks['fatal_yn'].str.replace('nan','N')

In [64]:
attacks['fatal_yn'].value_counts()

N          4789
Y          1442
UNKNOWN      71
Name: fatal_yn, dtype: int64

### CorrelaÃ§Ã£o entre tipo de ocorrencia e fatalidade

In [117]:
def binary(x):
    #booleano 1 = Fatal e 0 = NÃ£o fatal.
    if x == 'Y':
        return 1
    elif x == 'N':
        return 0
    else:
        return None

attacks['fatal_binary']=attacks['fatal_yn'].apply(binary)

In [128]:
type_fatal = attacks.loc[:,['type','fatal_binary']]
type_fatal = type_fatal.groupby(by=['type']).agg(fatal_ocurrencies = ('fatal_binary',sum))

In [133]:
#adicionando coluna com o numero de ocorrencias totais por tipo
type_fatal['total_ocurrencies'] = attacks.groupby(by='type').count()['activity'].astype(float)
#adicionando coluna com proporcao de fatalidade com numero de ocorrencias
type_fatal['fatal_proportion'] = type_fatal['fatal_ocurrencies']/type_fatal['total_ocurrencies']*100

In [172]:
type_fatal

              fatal_ocurrencies  total_ocurrencies  fatal_proportion
type
Provoked                   19.0              574.0          3.310105
Questionable               59.0              549.0         10.746812
Sea Disaster              168.0              239.0         70.292887
Unprovoked               1183.0             4595.0         25.745375
Watercraft                 11.0              341.0          3.225806
nan                         2.0                4.0         50.000000

NÃ£o existe uma correlaÃ§Ã£o clara de que as feridas sejam mais letais quando o tubarÃ£o Ã© provocado. As maiores ocorrÃªncias ocorrem quando o tipo de ocorrÃªncia se trata de um Sea Disaster. (nÃ£o estÃ¡ muito explicito na documentaÃ§Ã£o)

Hipoteses
passos para desenvolver as hipoteses
fatalidade + atividade

In [204]:
attacks.to_csv('attacks_clean.csv')